@page
@model ExpensiveControlApp.Pages.MonetaryFunds.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-4">Create Monetary Fund</h1>

<h4 class="mb-3">MonetaryFund</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="MonetaryFund.Name" class="form-label">
                    <span class="text-danger">*</span> Name
                </label>
                <input asp-for="MonetaryFund.Name" class="form-control" />
                <span asp-validation-for="MonetaryFund.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MonetaryFund.Type" class="form-label">
                    <span class="text-danger">*</span> Type
                </label>
                <select asp-for="MonetaryFund.Type" class="form-select" asp-items="Model.TypeOptions"></select>
                <span asp-validation-for="MonetaryFund.Type" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-page="Index" class="btn btn-link">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
