@page
@model ExpensiveControlApp.Pages.ExpenseTypes.CreateModel

@{
    ViewData["Title"] = "Crear Tipo de Gasto";
}

<h1 class="mb-4">Crear Nuevo Tipo de Gasto</h1>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

            <div class="mb-3">
                <label asp-for="ExpenseType.Name" class="form-label"></label>
                <input asp-for="ExpenseType.Name" class="form-control" />
                <span asp-validation-for="ExpenseType.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ExpenseType.Description" class="form-label"></label>
                <input asp-for="ExpenseType.Description" class="form-control" />
                <span asp-validation-for="ExpenseType.Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Crear</button>
            <a asp-page="Index" class="btn btn-secondary ms-2">Volver a la lista</a>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
